<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:10px;">Cadastro</th>
        <th style="width:10px;">Verificada</th>
        <th>Usuário</th>
        <th>Score Detecção de Face</th>
        <th>Distância Euclidiana</th>
        <th>Data de Criação</th>
      </tr>
    </thead>
    {{#data}}
      <tr>
        <td ><img src="data:image/png;base64, {{{pathfiledropboxregistered}}}" alt="registered picture" /></td>
        <td><img src="data:image/png;base64, {{{pathfiledropbox}}}" alt="verification picture" /></td>
        <td>{{{username}}}</td>
        <td>{{{facedetectionscore}}}</td>
        <td>{{{euclidean_distance}}}</td>
      <td>{{timecreated}}</td>
      <td style="width:20px;"><a href="#"><i class="fa fa-arrow-circle-right fa-2x"></i></td>
      </tr>
    {{/data}}
  </table>
  {{^data}}
  <div class="card-body"><p>There are no results</p></div>
    {{/data}}
</div>
